<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap" rel="stylesheet">
    </head>
    <body> 
        <div class="left-menu">
            <div class="link-effect">
                <a class="link-effect__content" href="/order">
                    <p>Ordenar</p>
                </a>
            </div>
        </div>     
       <div class="container">
           <h1>Despues vemos qué ponemos aqui, jeje</h1>
           <h2>Cambiaré todos los estilos al finalizar la funcionalidad</h2>
       </div>
    </body>
</html>